body {
  background: #efeff4;
}
body .header {
  background: #fff;
  text-align: center;
  height: 50px;
}
body .header .header-title {
  color: #000;
  font-size: 18px;
  line-height: 50px;
}
body .header .set {
  width: 50px;
  height: 50px;
  background: url("../../img/myinfo/nav_set_icon@2x.png") center no-repeat;
  background-size: 18px;
  border: none;
  outline: none;
  float: right;
}
body .info-box {
  background: #fff;
  margin-top: 10px;
}
body .info-box .info-main {
  overflow: hidden;
  height: 100px;
  width: 100%;
  position: relative;
}
body .info-box .info-main:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d6d7dc;
}
body .info-box .info-main .info-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: url("../../img/myinfo/log in_user-head@2x.png") center no-repeat;
  background-size: cover;
  float: left;
  margin-left: 5%;
  margin-top: 17px;
}
body .info-box .info-main .info-text {
  line-height: 100px;
  float: left;
  padding-left: 15px;
}
body .info-box .info-main .info-next {
  width: 30px;
  height: 100px;
  background: url("../../img/myinfo/log in_right_icon@2x.png") center no-repeat;
  float: right;
  background-size: 12px;
}
body .info-box .info-foot {
  overflow: hidden;
}
body .info-box .info-foot .info-foot-cell {
  float: left;
  line-height: 45px;
  height: 45px;
  width: 50%;
  text-align: center;
}
body .info-box .info-foot .info-foot-cell .info-numb {
  font-weight: bold;
  font-size: 18px;
}
body .info-box .info-foot .rightline {
  position: relative;
}
body .info-box .info-foot .rightline:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 33px;
  right: 0px;
  top: 6px;
  background: #d6d7dc;
}
body .navbar {
  background: #fff;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  over-flow: hidden;
}
body .navbar .bar-right {
  float: right;
  width: 40px;
  height: 50px;
  background: url("../../img/myinfo/log in_right_icon@2x.png") center no-repeat;
  background-size: 8px;
}
body .navbar .bar-left {
  height: 50px;
  float: left;
  padding-left: 40px;
  font-size: 16px;
}
body .navbar .fst {
  background: url("../../img/myinfo/content_list_icon01@2x.png") 10px center no-repeat;
  background-size: 18px;
}
body .navbar .scd {
  background: url("../../img/myinfo/content_list_icon02@2x.png") 10px center no-repeat;
  background-size: 18px;
}
body .navbar .thd {
  background: url("../../img/myinfo/content_list_icon03@2x.png") 10px center no-repeat;
  background-size: 18px;
}
body .navbar .for {
  background: url("../../img/myinfo/content_list_icon04@2x.png") 10px center no-repeat;
  background-size: 18px;
}
body .navbar .fif {
  background: url("../../img/myinfo/content_list_icon05@2x.png") 10px center no-repeat;
  background-size: 18px;
}
body .footbox {
  position: absolute;
  bottom: 0;
  background: #fff;
  display: flex;
  width: 100%;
}
body .footbox .foot-cell {
  flex: 1;
  height: 20px;
  padding-top: 30px;
  text-align: center;
  color: #b4b4b4;
  font-size: 12px;
}
body .footbox .cellone {
  background: url("../../img/myinfo/bottom_nor_icon04@2x.png") center 5px no-repeat;
  background-size: 24px;
}
body .footbox .celltwo {
  background: url("../../img/myinfo/bottom_nor_icon03@2x.png") center 5px no-repeat;
  background-size: 24px;
}
body .footbox .cellthr {
  background: url("../../img/myinfo/bottom_icon05@2x.png") center no-repeat;
  background-size: 45px;
}
body .footbox .cellfor {
  background: url("../../img/myinfo/bottom_nor_icon02@2x.png") center 5px no-repeat;
  background-size: 24px;
}
body .footbox .cellfif {
  background: url("../../img/myinfo/bottom_nor_icon01@2x.png") center 5px no-repeat;
  background-size: 24px;
}
