body
	background #efeff4
	.header
		background #fff
		background-size 15px
		text-align center
		height 50px
		.header-title
			color #ea5404
			font-size 18px
			line-height 50px
		.back
			background url("../../img/login/nav_back_icon@2x.png") center no-repeat
			background-size 10px
			border none
			outline none
			float left
			margin-top 15px		
	.login-box
		background #fff
		margin-top 24px
		.underline
			position relative
			&:after
				content ""
				position absolute
				bottom 0
				height 1px
				width 90%
				background #d6d7dc
				left 5%			
		.header-title
			color #ea5404
			font-size 20px
			line-height 50px
		.login-box
			background #fff
			margin-top 24px
		.login-bar
			display flex
			height 50px
			position relative
			.getnumb
				position absolute
				height 24px
				width 66px
				background #ea5404
				right 5%
				font-size 12px
				color #fff
				text-align center
				line-height 24px
				border-radius 5px
				top 50%
				margin-top -12px
			.bar-left
				flex 2
				line-height 50px
				padding-left 45px
				background url("../../img/login/content_ID_icon@2x.png") 15px 15px  no-repeat
				background-size 22px			
				font-size 18px	
			.bar-text
				flex 5
				border none
				outline none
				font-size 14px
			.pswd
				background url("../../img/login/content_password_icon@2x.png") 18px 15px  no-repeat
				background-size 18px
			.gnb
				background url("../../img/login/content_verify_icon@2x.png") 18px 15px  no-repeat
				background-size 15px
			.identity
				background url("../../img/login/content_position_icon@2x.png") 15px 15px  no-repeat
				background-size 20px
			.drop-down 
				background url("../../img/login/content_icon02_nor@2x.png") center no-repeat
				height 50px
				width 20px
				position absolute
				right 5%
				.id-choose
					list-style none
					padding 0
					margin 0
					position absolute
					right 5%
					top 40px
					background #a3a3a3
					border-radius 5px
					li
						width 66px
						height 30px
						color #fff
						font-size 14px
						text-align center
						line-height 30px
						border-bottom 1px solid rgba(255,255,255,0.5)
			
	.btn
		background #c7c7c7
		height 45px
		width 90%
		margin-left 5%
		margin-top 45px
		border none
		border-radius 10px
		color #fff
		font-size 18px
		outline none
	.footbox
		margin-top 10px
		text-align center
		font-size 12px
		.right
			color #ea5404
			border-bottom 1px solid #ea5404
		
				
				
				
				
				
				
			