body {
  background: #efeff4;
}
body .header {
  background: #fff;
  background-size: 15px;
  text-align: center;
  height: 50px;
}
body .header .header-title {
  color: #ea5404;
  font-size: 18px;
  line-height: 50px;
}
body .header .back {
  background: url("../../img/login/nav_back_icon@2x.png") center no-repeat;
  background-size: 10px;
  border: none;
  outline: none;
  float: left;
  margin-top: 15px;
}
body .login-box {
  background: #fff;
  margin-top: 24px;
}
body .login-box .underline {
  position: relative;
}
body .login-box .underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 90%;
  background: #d6d7dc;
  left: 5%;
}
body .login-box .header-title {
  color: #ea5404;
  font-size: 20px;
  line-height: 50px;
}
body .login-box .login-box {
  background: #fff;
  margin-top: 24px;
}
body .login-box .login-bar {
  display: flex;
  height: 50px;
  position: relative;
}
body .login-box .login-bar .getnumb {
  position: absolute;
  height: 24px;
  width: 66px;
  background: #ea5404;
  right: 5%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 5px;
  top: 50%;
  margin-top: -12px;
}
body .login-box .login-bar .bar-left {
  flex: 2;
  line-height: 50px;
  padding-left: 45px;
  background: url("../../img/login/content_ID_icon@2x.png") 15px 15px no-repeat;
  background-size: 22px;
  font-size: 18px;
}
body .login-box .login-bar .bar-text {
  flex: 5;
  border: none;
  outline: none;
  font-size: 14px;
}
body .login-box .login-bar .pswd {
  background: url("../../img/login/content_password_icon@2x.png") 18px 15px no-repeat;
  background-size: 18px;
}
body .login-box .login-bar .gnb {
  background: url("../../img/login/content_verify_icon@2x.png") 18px 15px no-repeat;
  background-size: 15px;
}
body .btn {
  background: #c7c7c7;
  height: 45px;
  width: 90%;
  margin-left: 5%;
  margin-top: 45px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  outline: none;
}
