body
	background #efeff4
	.header
		background #fff
		background-size 15px
		text-align center
		height 50px
		.header-title
			color #000
			font-size 18px
			line-height 50px
		.back
			background url("../../img/login/nav_back_icon@2x.png") center no-repeat
			background-size 10px
			border none
			outline none
			float left
			margin-top 15px
	.mainbox
		background #fff
		overflow hidden
		margin-top 12px
		.info-bar
			height 40px
			line-height 40px
			position relative
			display flex
			font-size 14px
			&:after
				content ""
				position absolute
				bottom 0
				height 1px
				width 95%
				background #d6d7dc
				left 5%
			.info-left
				padding-left 10px
				flex 6
				color #646464
			.info-center
				flex 10
				.info-pic
					height 30px
					width 30px
					margin-top 5px
					border-radius 50%
					background url("../../img/myinfo/head.jpg") center no-repeat
					background-size cover
			.info-right
				flex 1
				height 40px
				background url("../../img/myinfo/log in_right_icon@2x.png") center no-repeat
				background-size 10px
			
				
				
				
				
				
				
				
				
				
				
				
				
						
					